<div class="flex justify-between items-center m-5 pl-80 py-2">
    <div class="ml-px">
        <p class="text-lg font-semibold text-purple-800 hover:text-purple-500">Welcome Rajpriya!</p>
    </div>
    <div class="flex items-center space-x-7">
        <input 
            type="text" 
            name="search" 
            placeholder="Search..." 
            class="border rounded-md px-3 py-1 focus:outline-none focus:ring focus:ring-purple-300"
        >
        <a href="#notifications" aria-label="Notifications" class="text-purple-800 hover:text-purple-500">
            <i class="far fa-bell text-xl"></i>
        </a>
        <a href="#donnotdisturb" aria-label="Donotdisturb" class="text-purple-800 hover:text-purple-500">
            <i class="fa fa-moon o"></i>
        </a>
        <a href="#profile" aria-label="Profile">
            <img src="/src/assets/Penguins.jpg" alt="Profile Picture" class="w-8 h-8 rounded-full border">
        </a>
    </div>
</div>
