   <div class="mr-16 ml-16">
    <div class="text-fuchsia-950 text-lg font-semibold mb-4">
      Investments
    </div>
    <div class="grid grid-cols-2 gap-4">
      <div>
        <div class="bg-gray-50 rounded-md p-4 shadow-md flex items-center justify-center transform transition-transform duration-300 hover:scale-105 hover:shadow-xl">
            <div class="text-gray-800 font-medium hover:text-fuchsia-600 transition">
                📈 Mutual Funds
            </div>
          </div>
      </div>
     <div>
        <div class="bg-gray-50 rounded-md p-4 shadow-md flex items-center justify-center transform transition-transform duration-300 hover:scale-105 hover:shadow-xl">
            <div class=" text-gray-800 font-medium hover:text-fuchsia-600 transition">
                💹 Stocks
            </div>
          </div>
     </div>
      <div>
        <div class="bg-gray-50 rounded-md p-4 shadow-md flex items-center justify-center transform transition-transform duration-300 hover:scale-105 hover:shadow-xl">
            <div class=" text-gray-800 font-medium hover:text-fuchsia-600 transition">
                🏦 Fixed Deposit
            </div>
          </div>
      </div>
      <div>
        <div class="bg-gray-50 rounded-md p-4 shadow-md flex items-center justify-center transform transition-transform duration-300 hover:scale-105 hover:shadow-xl">
            <div class=" text-gray-800 font-medium hover:text-fuchsia-600 transition">
                ✨ Digi Gold
            </div>
          </div>
      </div>
      <div>
        <div class="bg-gray-50 rounded-md p-4 shadow-md flex items-center justify-center transform transition-transform duration-300 hover:scale-105 hover:shadow-xl">
            <div class=" text-gray-800 font-medium hover:text-fuchsia-600 transition">
                ₿ Bitcoin
            </div>
          </div>
      </div>
      <div>
        <div class="bg-gray-50 rounded-md p-4 shadow-md flex items-center justify-center transform transition-transform duration-300 hover:scale-105 hover:shadow-xl">
            <div class="text-gray-800 font-medium hover:text-fuchsia-600 transition">
                Add new
            </div>
        </div>
      </div>
    </div>
  </div>
  