<div class="flex ml-80 space-x-20">
    <div class="flex flex-col items-center justify-center  rounded-md px-28 py-6  bg-opacity-70 text-green-600 hover:text-green-500" style="background-color: #cae2d4;">
        <div class="text-2xl font-bold">12,000</div>
        <div class="text-sm">Total Income</div>
    </div>
    <div class="flex flex-col items-center justify-center rounded-md px-28 py-6  bg-opacity-70 text-purple-800 hover:text-purple-500" style="background-color: rgb(235, 204, 235);">
        <div class="text-2xl font-bold">8,000</div>
        <div class="text-sm">Total Expenses</div>
    </div>
    <div class="flex flex-col items-center justify-center  rounded-md px-28 py-6  bg-opacity-70 text-pink-600 shadow hover:text-pink-500" style="background-color: #eed8e8;">
        <div class="text-2xl font-bold">4,000</div>
        <div class="text-sm">Total Balance</div>
    </div>
</div>
