<div class="mt-6 grid grid-cols-2 gap-4">
    <div class="ml-72">
        <div class="bg-white rounded-lg shadow-md p-4">
          <div class="text-fuchsia-950 text-lg font-medium mb-2">
            Recent Transactions
          </div>
          <div class="divide-y divide-gray-200">
            <!-- Transaction 1 -->
            <div class="grid grid-cols-2 py-2">
              <div class="flex flex-col text-gray-700">
                <span class="font-medium">Nike</span>
                <span class="text-xs text-gray-500">Sept 11 - 8:00pm</span>
              </div>
              <div class="text-right text-red-500 font-semibold">
                - $100
              </div>
            </div>
            <!-- Transaction 2 -->
            <div class="grid grid-cols-2 py-2">
              <div class="flex flex-col text-gray-700">
                <span class="font-medium">Dad :)</span>
                <span class="text-xs text-gray-500">Sept 12 - 5:30pm</span>
              </div>
              <div class="text-right text-green-500 font-semibold">
                + $150
              </div>
            </div>
            <!-- Transaction 3 -->
            <div class="grid grid-cols-2 py-2">
              <div class="flex flex-col text-gray-700">
                <span class="font-medium">Puma</span>
                <span class="text-xs text-gray-500">Sept 13 - 3:45pm</span>
              </div>
              <div class="text-right text-red-500 font-semibold">
                - $50
              </div>
            </div>
            <!-- Transaction 4 -->
            <div class="grid grid-cols-2 py-2">
                <div class="flex flex-col text-gray-700">
                    <span class="font-medium">Reebok</span>
                    <span class="text-xs text-gray-500">Sept 15 - 7:00pm</span>
                </div>
                <div class="text-right text-red-500 font-semibold">
                    - $100
                </div>
            </div>
          </div>
        </div>
      </div>
  <app-investment-cards></app-investment-cards>   
</div>